<link rel="icon" type="image/x-icon" href="https://user-images.githubusercontent.com/34687786/133309656-47516faf-b620-4bf0-bb41-6dcc313a814b.png">
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const instFrame=document.createElement("iframe");
        instFrame.setAttribute("frameborder","none");
        instFrame.setAttribute("width","245px");
        instFrame.setAttribute("height","48px");
        instFrame.setAttribute("src","https://plugins.jetbrains.com/embeddable/install/17433");
        instFrame.style.marginLeft="5px";
        document.getElementsByTagName("h1")[0].appendChild(instFrame);

    },false);



</script>
