<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/src/main/resources/META-INF/pluginIcon.svg">
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const instFrame=document.createElement("iframe");
        instFrame.setAttribute("frameborder","none");
        instFrame.setAttribute("width","245px");
        instFrame.setAttribute("height","48px");
        instFrame.setAttribute("src","https://plugins.jetbrains.com/embeddable/install/17433");
        instFrame.style.marginLeft="5px";
        document.getElementsByTagName("h1")[0].appendChild(instFrame);

    },false);



</script>
